@{
    Layout = "~/views/visitorlayout/visitor_layout.cshtml";
}

<section class="swiper-module">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="swiper-module-wrapper">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">

                                <div class="swiper-image bg-1">
                                    <div class="swiper-description">
                                        <div class="swiper-banner-title">
                                            <h1 class="primary-heading text-center">
                                                Start Earning Today
                                            </h1>
                                        </div>
                                        <div class="swiper-para text-center">
                                            <p class="webpage-para text-center">
                                                "Discover how you can earn money online or through flexible side gigs. Whether you’re looking for part-time work, freelancing opportunities, or passive income, we’ve got the tools and resources to help you achieve your financial goals."
                                            </p>
                                        </div>
                                        <div class="swiper-button d-flex justify-content-center">
                                            <div class="swiper-primary-button mx-5">
                                                <a href="#" class="default-bg-btn swiper-btn-color">
                                                    Learn More
                                                </a>
                                            </div>

                                            <div class="swiper-secondary-button">
                                                <a href="#" class="primary-btn-bg-n swiper-btn">
                                                    Join us on Telegram
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-image bg-2">

                                    <div class="swiper-description">
                                        <div class="swiper-banner-title">
                                            <h2 class="primary-heading text-center">
                                                Join Thousands in Growing Your Income
                                            </h2>
                                        </div>
                                        <div class="swiper-para text-center">
                                            <p class="webpage-para text-center">"Explore our handpicked selection of trusted platforms where you can start earning right away. Get step-by-step guidance, tips from experts, and proven strategies for boosting your income."</p>
                                        </div>
                                        <div class="swiper-button d-flex justify-content-center">
                                            <div class="swiper-primary-button mx-5">
                                                <a href="#" class="default-bg-btn swiper-btn-color">
                                                    Learn More
                                                </a>
                                            </div>

                                            <div class="swiper-secondary-button">
                                                <a href="#" class="primary-btn-bg-n swiper-btn">
                                                    Join us on Telegram
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-image bg-3">

                                    <div class="swiper-description">
                                        <div class="swiper-banner-title">
                                            <h2 class="primary-heading text-center">
                                                Make Money, Your Way
                                            </h2>
                                        </div>
                                        <div class="swiper-para text-center">
                                            <p class="webpage-para text-center">
                                                "Discover how you can earn money online or through flexible side gigs. Whether you’re looking for part-time work, freelancing opportunities, or passive income, we’ve got the tools and resources to help you achieve your financial goals."
                                            </p>
                                        </div>
                                        <div class="swiper-button d-flex justify-content-center">
                                            <div class="swiper-primary-button mx-5">
                                                <a href="#" class="default-bg-btn swiper-btn-color">
                                                    Learn More
                                                </a>
                                            </div>

                                            <div class="swiper-secondary-button">
                                                <a href="#" class="primary-btn-bg-n swiper-btn">
                                                    Join us on Telegram
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="card-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-wrapper">
                    <div class="row">
                        <div class="col-4">
                            <div class="card-wrapper-main">
                                <div class="card-title-section  d-flex">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <div class="card-title">
                                        <div class="card-title-h5">
                                            <h5 class="heading-title">
                                                Create an Account
                                            </h5>
                                        </div>

                                        <div class="card-desc">
                                            <p class="webpage-para">
                                                Creating your Profile with us and get your growth.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card-wrapper-main">
                                <div class="card-title-section  d-flex">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-user-plus"></i>
                                    </div>
                                    <div class="card-title">
                                        <div class="card-title-h5">
                                            <h5 class="heading-title">
                                                Follow and Verification
                                            </h5>
                                        </div>

                                        <div class="card-desc">
                                            <p class="webpage-para">
                                                Get total control over your earnings by simply follow us on Instagram and the process after our team Verifiying your account.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card-wrapper-main">
                                <div class="card-title-section no-border d-flex">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-earth-americas"></i>
                                    </div>
                                    <div class="card-title">
                                        <div class="card-title-h5">
                                            <h5 class="heading-title">
                                                Earn Money
                                            </h5>
                                        </div>

                                        <div class="card-desc">
                                            <p class="webpage-para">
                                                Earn Money by following in social meadia Platforms.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-content">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="feature-content-image-wrapper">

                    <div class="feature-image">
                        <img src="~/img/vectors/vector1.jpg"  alt="vector1"/>

                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="feature-content-wrapper">
                    <div class="feature-content-des">
                        <span class="heading-devider"></span>
                    </div>
                    <div class="feature-content-title">
                        <h2 class="secondary-heading">
                            What is Meta ADS World?
                        </h2>
                    </div>
                    <div class="feature-content-para">
                        <p class="webpage-para">
                            While engaging with content on Instagram can indirectly contribute to your earning potential, it's important to approach it as part of a broader strategy focused on building your personal brand, networking, and providing value to your audience. Simply liking and commenting on posts is unlikely to generate significant income on its own.
                        </p>
                        <p class="webpage-para">
                            We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                        </p>
                    </div>
                    <div class="feature-btn ">
                        <a href="#" class="btn-global">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="fullwidth-signpost-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="fullwidth-bg">
                    <div class="row">
                        <div class="col-6">
                            <div class="fullwidth-content-wrapper">
                                <div class="heading">
                                    <span class="heading-devider"></span>
                                </div>
                                <div class="fullwidth-title">
                                    <h2 class="secondary-heading">
                                        Get Actionable CEO Tips Via Your E-mail
                                    </h2>
                                </div>
                                <div class="fullwidth-des">
                                    <p class="webpage-para">
                                        Our digital marketing strategists will put together an actionable plan to strengthen your presence among customers.
                                    </p>
                                </div>

                                <div class="fullwidth-btn-wrapper d-flex">
                                    <div class="fullwidth-primary">
                                        <input type="text" placeholder="Enter Your Email*" />
                                    </div>
                                    <div class="fullwidth-secondary">
                                        <a href="#" class="btn-global">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fullwidth-image-bg">
                                <div class="fullwidth-image">
                                    <img src="~/img/vectors/vector9.jpg" alt="vector9" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="icon-scroller">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Slider main container -->
                <div class="swiper mySwiper swiper-scroller">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide icon-scroller-slide">
                            <div class="row align-items-center h-100">
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-1.png" alt="clinet 1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-2.png" alt="clinet 2" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-3.png" alt="clinet 3" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-4.png" alt="clinet 4" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide icon-scroller-slide">
                            <div class="row align-items-center h-100">
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-5.png" alt="clinet 5" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-6.png" alt="clinet 6" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-1.png" alt="clinet 1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-2.png" alt="clinet 2" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tab-feature-content feature-content">
    <div class="signpost-title">
        <div class="headingtitle-devider">
            <span class="heading-title-devider"></span>
        </div>
        <div class="signpost-title-wrapper">
            <h4 class="secondary-heading">
                WHY JOIN US?
            </h4>
        </div>
        <div class="signpost-para">
            <p class="webpage-para">
                EARN EXTRA MONEY
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tab-button justify-content-center d-flex">
                    <div class="tabbtn-wrapper">
                        <button class="tab-common" id="btn1" onclick="taboneclick()">Online Earning </button>
                        <button class="tab-common" id="btn2" onclick="tabtwoclick()">Flexible Timing</button>
                        <button class="tab-common" id="btn3" onclick="tabthreeclick()">Diverse Opportunities</button>
                        <button class="tab-common" id="btn4" onclick="tabfourclick()">Community Support</button>
                        <button class="tab-common" id="btn5" onclick="tabfiveclick()">Transparent & Secure</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" id="tab-content-1">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-image-wrapper">

                        <div class="feature-image">
                            <img src="~/img/vectors/vector3.jpg" alt="vector3"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-wrapper">
                        <div class="feature-content-des">
                            <span class="heading-devider"></span>
                        </div>
                        <div class="feature-content-title">
                            <h2 class="secondary-heading">
                                Online Earning !
                            </h2>
                        </div>
                        <div class="feature-content-para">
                            <p class="webpage-para">
                                Earn on your terms! Whether you're a student, a parent, or a full-time professional, our platform offers flexibility to fit your schedule.
                            </p>
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                        </div>
                        <div class="feature-btn ">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content" id="tab-content-2">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-image-wrapper">

                        <div class="feature-image">
                            <img src="~/img/vectors/vector4.jpg"  alt="vector5" />
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-wrapper">
                        <div class="feature-content-des">
                            <span class="heading-devider"></span>
                        </div>
                        <div class="feature-content-title">
                            <h2 class="secondary-heading">
                                Flexible Timing !
                            </h2>
                        </div>
                        <div class="feature-content-para">
                            <p class="webpage-para">
                                By embracing flexible timing for earning, you can design a lifestyle that aligns with your priorities and allows you to pursue your passions while still meeting your financial goals.
                            </p>
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                        </div>
                        <div class="feature-btn ">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content" id="tab-content-3">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-image-wrapper">

                        <div class="feature-image">
                            <img src="~/img/vectors/vector5.jpg" alt="vector5"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-wrapper">
                        <div class="feature-content-des">
                            <span class="heading-devider"></span>
                        </div>
                        <div class="feature-content-title">
                            <h2 class="secondary-heading">
                                Diverse Opportunities
                            </h2>
                        </div>
                        <div class="feature-content-para">
                            <p class="webpage-para">
                                Explore a wide range of earning opportunities tailored to your interests and skills. From sponsored content to affiliate marketing, there's something for everyone!
                            </p>
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                        </div>
                        <div class="feature-btn ">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content" id="tab-content-4">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-image-wrapper">

                        <div class="feature-image">
                            <img src="~/img/vectors/vector6.jpg" alt="vector6"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-wrapper">
                        <div class="feature-content-des">
                            <span class="heading-devider"></span>
                        </div>
                        <div class="feature-content-title">
                            <h2 class="secondary-heading">
                                Community Support
                            </h2>
                        </div>
                        <div class="feature-content-para">
                            <p class="webpage-para">
                                Join a supportive community of like-minded individuals who are on the journey to financial freedom. Get tips, guidance, and inspiration from fellow members.
                            </p>
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                        </div>
                        <div class="feature-btn ">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" id="tab-content-5">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-image-wrapper">

                        <div class="feature-image">
                            <img src="~/img/vectors/vector7.jpg" alt="vector7"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-wrapper">
                        <div class="feature-content-des">
                            <span class="heading-devider"></span>
                        </div>
                        <div class="feature-content-title">
                            <h2 class="secondary-heading">
                                Transparent & Secure
                            </h2>
                        </div>
                        <div class="feature-content-para">
                            <p class="webpage-para">
                                We prioritize transparency and security. Rest assured that your earnings are safe and that you'll always have access to transparent reporting and analytics.
                            </p>
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                        </div>
                        <div class="feature-btn ">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fullwidth-bg-fiximage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="fullwidth-bg-fixed">
                    <div class="fullwidth-des d-flex justify-content-center flex-column align-items-center">
                        <div class="fullwidth-title">
                            <h3 class="secondary-heading">
                                Engage with the Social Media!
                            </h3>
                        </div>
                        <div class="fullwidth-para">
                            <p class="webpage-para">
                                Engaging with social media platforms can indeed be a pathway to earning money, thanks to various monetization strategies and opportunities available to users. Here's a breakdown of how you can leverage social media to generate income
                            </p>
                        </div>
                        <div class="fullwidth-btn">
                            <a href="#" class="btn-global">Click for Growth</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-content feature-content-keyfacts pt-0">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="feature-content-image-wrapper">

                    <div class="feature-image">
                        <img src="/img/vectors/vector2.jpg" alt="vactor2">
                    </div>
                    <div class="feature-image-secondary">

                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="feature-content-wrapper">
                    <div class="feature-content-des">
                        <span class="heading-devider"></span>
                    </div>
                    <div class="feature-content-title">
                        <h2 class="secondary-heading">
                            Transform your social media presence with our cutting-edge marketing solutions
                        </h2>
                    </div>
                    <div class="feature-content-para">
                        <p class="webpage-para">
                            We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                        </p>
                        <p class="webpage-para">
                            We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                        </p>
                    </div>
                    <div class="feature-contentkeyfact">
                        <div class="feaure-keyfirst d-flex">
                            <div class="feature-keyfact-wrapper">
                                <div class="keyfact-title counter d-flex">
                                    <h4 data-target="200" class="count">0</h4><sup>+</sup>
                                </div>
                                <div class="keyfact-para">
                                    <p class="webpage-para">
                                        happy client
                                    </p>
                                </div>
                            </div>

                            <div class="feature-keyfact-wrapper">
                                <div class="keyfact-title counter d-flex">
                                    <h4 data-target="500" class="count">0</h4><sup>+</sup>
                                </div>
                                <div class="keyfact-para">
                                    <p class="webpage-para">
                                        years of experience
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="signpost-component  bg-concrete">
    <div class="signpost-bg ">
        <div class="signpost-title">
            <div class="headingtitle-devider">
                <span class="heading-title-devider"></span>
            </div>
            <div class="signpost-title-wrapper">
                <h4 class="secondary-heading">
                    Read Our Latest News
                </h4>
            </div>
            <div class="signpost-para">
                <p class="webpage-para">
                    SEO & search marketing news and chatter from Seofy. As well as these existing tools, we’re in the unique position.
                </p>
            </div>
        </div>
        <div class="signpost-bg-white">
            <div class="container">
                <div class="row">
                    <!-- Slider main container -->
                    <div class="swiper mySwiper swiper-letest-blog">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="signpost-wrapper bg-white">
                                            <div class="signpost-image">
                                                <img src="~/img/vectors/vector10.jpg" alt="vector10"/>
                                            </div>

                                            <div class="signpost-title-wrapper">
                                                <div class="signpost-title-main">
                                                    <h5 class="heading-subheading">66 Sources of Content Inspiration</h5>
                                                </div>
                                                <div class="signpost-para">
                                                    <p class="webpage-para">
                                                        The time has finally come. You’ve poured your blood, sweat, and tears into...
                                                    </p>
                                                </div>
                                                <div class="signpost-width">
                                                </div>
                                                <div class="singpost-post d-flex justify-content-between">
                                                    <div class="signpost-author">
                                                        <div class="signpost-author-wrapper d-flex align-items-center">
                                                            <div class="singpost-author-image">
                                                                <img src="~/img/vectors/vector11.jpg" alt="vector11"/>
                                                            </div>
                                                            <div class="signpost-author-title">
                                                                <h5>Mira Powell</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="singpost-share">
                                                        <i class="fa-solid fa-share-nodes"></i>
                                                    </div>
                                                </div>
                                                <div class="signpost-date">
                                                    <p class="webpage-para">November 16, 2018</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="signpost-wrapper bg-white">
                                            <div class="signpost-image">
                                                <img src="~/img/vectors/vector12.jpg" alt="vector13"/>
                                            </div>

                                            <div class="signpost-title-wrapper">
                                                <div class="signpost-title-main">
                                                    <h5 class="heading-subheading">66 Sources of Content Inspiration</h5>
                                                </div>
                                                <div class="signpost-para">
                                                    <p class="webpage-para">
                                                        The time has finally come. You’ve poured your blood, sweat, and tears into...
                                                    </p>
                                                </div>
                                                <div class="signpost-width">
                                                </div>
                                                <div class="singpost-post d-flex justify-content-between">
                                                    <div class="signpost-author">
                                                        <div class="signpost-author-wrapper d-flex align-items-center">
                                                            <div class="singpost-author-image">
                                                                <img src="~/img/vectors/vector13.jpg" alt="vector14"/>
                                                            </div>
                                                            <div class="signpost-author-title">
                                                                <h5>Mira Powell</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="singpost-share">
                                                        <i class="fa-solid fa-share-nodes"></i>
                                                    </div>
                                                </div>
                                                <div class="signpost-date">
                                                    <p class="webpage-para">November 16, 2018</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="signpost-wrapper bg-white">
                                            <div class="signpost-image">
                                                <img src="~/img/vectors/vector14.jpg" alt="vector14"/>
                                            </div>

                                            <div class="signpost-title-wrapper">
                                                <div class="signpost-title-main">
                                                    <h5 class="heading-subheading">66 Sources of Content Inspiration</h5>
                                                </div>
                                                <div class="signpost-para">
                                                    <p class="webpage-para">
                                                        The time has finally come. You’ve poured your blood, sweat, and tears into...
                                                    </p>
                                                </div>
                                                <div class="signpost-width">
                                                </div>
                                                <div class="singpost-post d-flex justify-content-between">
                                                    <div class="signpost-author">
                                                        <div class="signpost-author-wrapper d-flex align-items-center">
                                                            <div class="singpost-author-image">
                                                                <img src="~/img/vectors/vector15.jpg" alt="vector15"/>
                                                            </div>
                                                            <div class="signpost-author-title">
                                                                <h5>Mira Powell</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="singpost-share">
                                                        <i class="fa-solid fa-share-nodes"></i>
                                                    </div>
                                                </div>
                                                <div class="signpost-date">
                                                    <p class="webpage-para">November 16, 2018</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*  <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="signpost-wrapper bg-white">
                                            <div class="signpost-image">
                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                            </div>

                                            <div class="signpost-title-wrapper">
                                                <div class="signpost-title-main">
                                                    <h5 class="heading-subheading">66 Sources of Content Inspiration</h5>
                                                </div>
                                                <div class="signpost-para">
                                                    <p class="webpage-para">
                                                        The time has finally come. You’ve poured your blood, sweat, and tears into...
                                                    </p>
                                                </div>
                                                <div class="signpost-width">
                                                </div>
                                                <div class="singpost-post d-flex justify-content-between">
                                                    <div class="signpost-author">
                                                        <div class="signpost-author-wrapper d-flex align-items-center">
                                                            <div class="singpost-author-image">
                                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                                            </div>
                                                            <div class="signpost-author-title">
                                                                <h5>Mira Powell</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="singpost-share">
                                                        <i class="fa-solid fa-share-nodes"></i>
                                                    </div>
                                                </div>
                                                <div class="signpost-date">
                                                    <p class="webpage-para">November 16, 2018</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="signpost-wrapper bg-white">
                                            <div class="signpost-image">
                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                            </div>

                                            <div class="signpost-title-wrapper">
                                                <div class="signpost-title-main">
                                                    <h5 class="heading-subheading">66 Sources of Content Inspiration</h5>
                                                </div>
                                                <div class="signpost-para">
                                                    <p class="webpage-para">
                                                        The time has finally come. You’ve poured your blood, sweat, and tears into...
                                                    </p>
                                                </div>
                                                <div class="signpost-width">
                                                </div>
                                                <div class="singpost-post d-flex justify-content-between">
                                                    <div class="signpost-author">
                                                        <div class="signpost-author-wrapper d-flex align-items-center">
                                                            <div class="singpost-author-image">
                                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                                            </div>
                                                            <div class="signpost-author-title">
                                                                <h5>Mira Powell</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="singpost-share">
                                                        <i class="fa-solid fa-share-nodes"></i>
                                                    </div>
                                                </div>
                                                <div class="signpost-date">
                                                    <p class="webpage-para">November 16, 2018</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="signpost-wrapper bg-white">
                                            <div class="signpost-image">
                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                            </div>

                                            <div class="signpost-title-wrapper">
                                                <div class="signpost-title-main">
                                                    <h5 class="heading-subheading">66 Sources of Content Inspiration</h5>
                                                </div>
                                                <div class="signpost-para">
                                                    <p class="webpage-para">
                                                        The time has finally come. You’ve poured your blood, sweat, and tears into...
                                                    </p>
                                                </div>
                                                <div class="signpost-width">
                                                </div>
                                                <div class="singpost-post d-flex justify-content-between">
                                                    <div class="signpost-author">
                                                        <div class="signpost-author-wrapper d-flex align-items-center">
                                                            <div class="singpost-author-image">
                                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                                            </div>
                                                            <div class="signpost-author-title">
                                                                <h5>Mira Powell</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="singpost-share">
                                                        <i class="fa-solid fa-share-nodes"></i>
                                                    </div>
                                                </div>
                                                <div class="signpost-date">
                                                    <p class="webpage-para">November 16, 2018</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="signpost-wrapper bg-white">
                                            <div class="signpost-image">
                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                            </div>

                                            <div class="signpost-title-wrapper">
                                                <div class="signpost-title-main">
                                                    <h5 class="heading-subheading">66 Sources of Content Inspiration</h5>
                                                </div>
                                                <div class="signpost-para">
                                                    <p class="webpage-para">
                                                        The time has finally come. You’ve poured your blood, sweat, and tears into...
                                                    </p>
                                                </div>
                                                <div class="signpost-width">
                                                </div>
                                                <div class="singpost-post d-flex justify-content-between">
                                                    <div class="signpost-author">
                                                        <div class="signpost-author-wrapper d-flex align-items-center">
                                                            <div class="singpost-author-image">
                                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                                            </div>
                                                            <div class="signpost-author-title">
                                                                <h5>Mira Powell</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="singpost-share">
                                                        <i class="fa-solid fa-share-nodes"></i>
                                                    </div>
                                                </div>
                                                <div class="signpost-date">
                                                    <p class="webpage-para">November 16, 2018</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="signpost-wrapper bg-white">
                                            <div class="signpost-image">
                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                            </div>

                                            <div class="signpost-title-wrapper">
                                                <div class="signpost-title-main">
                                                    <h5 class="heading-subheading">66 Sources of Content Inspiration</h5>
                                                </div>
                                                <div class="signpost-para">
                                                    <p class="webpage-para">
                                                        The time has finally come. You’ve poured your blood, sweat, and tears into...
                                                    </p>
                                                </div>
                                                <div class="signpost-width">
                                                </div>
                                                <div class="singpost-post d-flex justify-content-between">
                                                    <div class="signpost-author">
                                                        <div class="signpost-author-wrapper d-flex align-items-center">
                                                            <div class="singpost-author-image">
                                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                                            </div>
                                                            <div class="signpost-author-title">
                                                                <h5>Mira Powell</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="singpost-share">
                                                        <i class="fa-solid fa-share-nodes"></i>
                                                    </div>
                                                </div>
                                                <div class="signpost-date">
                                                    <p class="webpage-para">November 16, 2018</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="signpost-wrapper bg-white">
                                            <div class="signpost-image">
                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                            </div>

                                            <div class="signpost-title-wrapper">
                                                <div class="signpost-title-main">
                                                    <h5 class="heading-subheading">66 Sources of Content Inspiration</h5>
                                                </div>
                                                <div class="signpost-para">
                                                    <p class="webpage-para">
                                                        The time has finally come. You’ve poured your blood, sweat, and tears into...
                                                    </p>
                                                </div>
                                                <div class="signpost-width">
                                                </div>
                                                <div class="singpost-post d-flex justify-content-between">
                                                    <div class="signpost-author">
                                                        <div class="signpost-author-wrapper d-flex align-items-center">
                                                            <div class="singpost-author-image">
                                                                <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="Alternate Text" />
                                                            </div>
                                                            <div class="signpost-author-title">
                                                                <h5>Mira Powell</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="singpost-share">
                                                        <i class="fa-solid fa-share-nodes"></i>
                                                    </div>
                                                </div>
                                                <div class="signpost-date">
                                                    <p class="webpage-para">November 16, 2018</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> *@
                            <!-- If we need pagination -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>









