@{
    Layout = "~/views/visitorlayout/visitor_layout.cshtml";
}

<section class="swiper-module">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="swiper-module-wrapper">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">

                                <div class="swiper-image bg-1">
                                    <div class="swiper-description">
                                        <div class="swiper-banner-title">
                                            <h1 class="primary-heading text-center">
                                                We Help You Connect With Your Customers
                                            </h1>
                                        </div>
                                        <div class="swiper-para text-center">
                                            <p class="webpage-para text-center">Marketing, sales, and service software that helps your business grow without compromise. Because “good for the business” should also mean “good for the customer.” </p>
                                        </div>
                                        <div class="swiper-button d-flex justify-content-center">
                                            <div class="swiper-primary-button mx-5">
                                                <a href="#" class="default-bg-btn swiper-btn-color">
                                                    Learn More
                                                </a>
                                            </div>

                                            <div class="swiper-secondary-button">
                                                <a href="#" class="primary-btn-bg-n swiper-btn">
                                                    Join us on Telegram
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-image bg-2">

                                    <div class="swiper-description">
                                        <div class="swiper-banner-title">
                                            <h1 class="primary-heading text-center">
                                                We Help You Connect With Your Customers
                                            </h1>
                                        </div>
                                        <div class="swiper-para text-center">
                                            <p class="webpage-para text-center">Marketing, sales, and service software that helps your business grow without compromise. Because “good for the business” should also mean “good for the customer.” </p>
                                        </div>
                                        <div class="swiper-button d-flex justify-content-center">
                                            <div class="swiper-primary-button mx-5">
                                                <a href="#" class="default-bg-btn swiper-btn-color">
                                                    Learn More
                                                </a>
                                            </div>

                                            <div class="swiper-secondary-button">
                                                <a href="#" class="primary-btn-bg-n swiper-btn">
                                                    Join us on Telegram
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="swiper-image bg-3">

                                    <div class="swiper-description">
                                        <div class="swiper-banner-title">
                                            <h1 class="primary-heading text-center">
                                                We Help You Connect With Your Customers
                                            </h1>
                                        </div>
                                        <div class="swiper-para text-center">
                                            <p class="webpage-para text-center">Marketing, sales, and service software that helps your business grow without compromise. Because “good for the business” should also mean “good for the customer.” </p>
                                        </div>
                                        <div class="swiper-button d-flex justify-content-center">
                                            <div class="swiper-primary-button mx-5">
                                                <a href="#" class="default-bg-btn swiper-btn-color">
                                                    Learn More
                                                </a>
                                            </div>

                                            <div class="swiper-secondary-button">
                                                <a href="#" class="primary-btn-bg-n swiper-btn">
                                                    Join us on Telegram
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="card-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-wrapper">
                    <div class="row">
                        <div class="col-4">
                            <div class="card-wrapper-main">
                                <div class="card-title-section  d-flex">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                                    </div>
                                    <div class="card-title">
                                        <div class="card-title-h5">
                                            <h5 class="heading-title">
                                                SEO Content Strategy
                                            </h5>
                                        </div>

                                        <div class="card-desc">
                                            <p class="webpage-para">
                                                We build a thorough content strategy for your organization that touches upon high-level messaging.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card-wrapper-main">
                                <div class="card-title-section  d-flex">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-signal"></i>
                                    </div>
                                    <div class="card-title">
                                        <div class="card-title-h5">
                                            <h5 class="heading-title">
                                                Content Marketing
                                            </h5>
                                        </div>

                                        <div class="card-desc">
                                            <p class="webpage-para">
                                                We build a thorough content strategy for your organization that touches upon high-level messaging.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card-wrapper-main">
                                <div class="card-title-section no-border d-flex">
                                    <div class="card-icon">
                                        <i class="fa-solid fa-globe"></i>
                                    </div>
                                    <div class="card-title">
                                        <div class="card-title-h5">
                                            <h5 class="heading-title">
                                                Website & Social Media Marketing
                                            </h5>
                                        </div>

                                        <div class="card-desc">
                                            <p class="webpage-para">
                                                We build a thorough content strategy for your organization that touches upon high-level messaging.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-content">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="feature-content-image-wrapper">

                    <div class="feature-image">
                        <img src="~/assest/feature-image/feature-image-main.jpg" alt="feature-main" />
                    </div>
                    <div class="feature-image-secondary">
                        <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="feature-secondary" />
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="feature-content-wrapper">
                    <div class="feature-content-des">
                        <span class="heading-devider"></span>
                    </div>
                    <div class="feature-content-title">
                        <h2 class="secondary-heading">
                            We Can Increashed Your Traffic By 110% In 14 days
                        </h2>
                    </div>
                    <div class="feature-content-para">
                        <p class="webpage-para">
                            We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                        </p>
                        <p class="webpage-para">
                            We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                        </p>
                    </div>
                    <div class="feature-btn ">
                        <a href="#" class="btn-global">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="fullwidth-signpost-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="fullwidth-bg">
                    <div class="row">
                        <div class="col-6">
                            <div class="fullwidth-content-wrapper">
                                <div class="heading">
                                    <span class="heading-devider"></span>
                                </div>
                                <div class="fullwidth-title">
                                    <h2 class="secondary-heading">
                                        Get Actionable SEO Tips Via Your E-mail
                                    </h2>
                                </div>
                                <div class="fullwidth-des">
                                    <p class="webpage-para">
                                        Our SEO & digital marketing strategists will put together an actionable plan to strengthen your presence among customers.
                                    </p>
                                </div>

                                <div class="fullwidth-btn-wrapper d-flex">
                                    <div class="fullwidth-primary">
                                        <input type="text" placeholder="Enter Your Email*" />
                                    </div>
                                    <div class="fullwidth-secondary">
                                        <a href="#" class="btn-global">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fullwidth-image-bg">
                                <div class="fullwidth-image">
                                    <img src="~/assest/fullwidth-signpost-image/fullwidth-image-removebg.png" alt="featureimage" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="icon-scroller">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Slider main container -->
                <div class="swiper mySwiper swiper-scroller">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide icon-scroller-slide">
                            <div class="row align-items-center h-100">
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-1.png" alt="clinet 1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-2.png" alt="clinet 2" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-3.png" alt="clinet 3" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-4.png" alt="clinet 4" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide icon-scroller-slide">
                            <div class="row align-items-center h-100">
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-5.png" alt="clinet 5" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-6.png" alt="clinet 6" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-1.png" alt="clinet 1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="icon-wrapper">
                                        <div class="icon-image">
                                            <img src="~/assest/icon-scroller/client-2.png" alt="clinet 2" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tab-feature-content feature-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tab-button justify-content-center d-flex">
                    <div class="tabbtn-wrapper">
                        <button class="tab-common" id="btn1" onclick="taboneclick()">SEO</button>
                        <button class="tab-common" id="btn2" onclick="tabtwoclick()">PAID TRAFFIC</button>
                        <button class="tab-common" id="btn3" onclick="tabthreeclick()">SOCIAL MEDIA</button>
                        <button class="tab-common" id="btn4" onclick="tabfourclick()">CONTENT & PR</button>
                        <button class="tab-common" id="btn5" onclick="tabfiveclick()">RESEARCH</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" id="tab-content-1">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-image-wrapper">

                        <div class="feature-image">
                            <img src="~/assest/feature-image/feature-image-main.jpg" alt="feature-main" />
                        </div>
                        <div class="feature-image-secondary">
                            <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="feature-secondary" />
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-wrapper">
                        <div class="feature-content-des">
                            <span class="heading-devider"></span>
                        </div>
                        <div class="feature-content-title">
                            <h2 class="secondary-heading">
                                We Can Increashed Your Traffic By 110% In 14 days
                            </h2>
                        </div>
                        <div class="feature-content-para">
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                        </div>
                        <div class="feature-btn ">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content" id="tab-content-2">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-image-wrapper">

                        <div class="feature-image">
                            <img src="~/assest/feature-image/feature-image-main.jpg" alt="feature-main" />
                        </div>
                        <div class="feature-image-secondary">
                            <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="feature-secondary" />
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-wrapper">
                        <div class="feature-content-des">
                            <span class="heading-devider"></span>
                        </div>
                        <div class="feature-content-title">
                            <h2 class="secondary-heading">
                                We Can Increashed Your Traffic By 110% In 15 days
                            </h2>
                        </div>
                        <div class="feature-content-para">
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                        </div>
                        <div class="feature-btn ">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content" id="tab-content-3">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-image-wrapper">

                        <div class="feature-image">
                            <img src="~/assest/feature-image/feature-image-main.jpg" alt="feature-main" />
                        </div>
                        <div class="feature-image-secondary">
                            <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="feature-secondary" />
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-wrapper">
                        <div class="feature-content-des">
                            <span class="heading-devider"></span>
                        </div>
                        <div class="feature-content-title">
                            <h2 class="secondary-heading">
                                We Can Increashed Your Traffic By 110% In 16 days
                            </h2>
                        </div>
                        <div class="feature-content-para">
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                        </div>
                        <div class="feature-btn ">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content" id="tab-content-4">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-image-wrapper">

                        <div class="feature-image">
                            <img src="~/assest/feature-image/feature-image-main.jpg" alt="feature-main" />
                        </div>
                        <div class="feature-image-secondary">
                            <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="feature-secondary" />
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-wrapper">
                        <div class="feature-content-des">
                            <span class="heading-devider"></span>
                        </div>
                        <div class="feature-content-title">
                            <h2 class="secondary-heading">
                                We Can Increashed Your Traffic By 110% In 17 days
                            </h2>
                        </div>
                        <div class="feature-content-para">
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                        </div>
                        <div class="feature-btn ">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" id="tab-content-5">
            <div class="row">
                <div class="col-6">
                    <div class="feature-content-image-wrapper">

                        <div class="feature-image">
                            <img src="~/assest/feature-image/feature-image-main.jpg" alt="feature-main" />
                        </div>
                        <div class="feature-image-secondary">
                            <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="feature-secondary" />
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <div class="feature-content-wrapper">
                        <div class="feature-content-des">
                            <span class="heading-devider"></span>
                        </div>
                        <div class="feature-content-title">
                            <h2 class="secondary-heading">
                                We Can Increashed Your Traffic By 110% In 18 days
                            </h2>
                        </div>
                        <div class="feature-content-para">
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                            <p class="webpage-para">
                                We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                            </p>
                        </div>
                        <div class="feature-btn ">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fullwidth-bg-fiximage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="fullwidth-bg-fixed">
                    <div class="fullwidth-des d-flex justify-content-center flex-column align-items-center">
                        <div class="fullwidth-title">
                            <h3 class="secondary-heading">
                                Start Growing With Seofy Today
                            </h3>
                        </div>
                        <div class="fullwidth-para">
                            <p class="webpage-para">
                                With tools to make every part of your process more human and a support team excited to help you.
                            </p>
                        </div>
                        <div class="fullwidth-btn">
                            <a href="#" class="btn-global">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-content feature-content-keyfacts">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="feature-content-image-wrapper">

                    <div class="feature-image">
                        <img src="~/assest/feature-image/feature-image-main.jpg" alt="feature-main" />
                    </div>
                    <div class="feature-image-secondary">
                        <img src="~/assest/feature-image/feature-image-secondary.jpg" alt="feature-secondary" />
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="feature-content-wrapper">
                    <div class="feature-content-des">
                        <span class="heading-devider"></span>
                    </div>
                    <div class="feature-content-title">
                        <h2 class="secondary-heading">
                            We Can Increashed Your Traffic By 110% In 14 days
                        </h2>
                    </div>
                    <div class="feature-content-para">
                        <p class="webpage-para">
                            We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                        </p>
                        <p class="webpage-para">
                            We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                        </p>
                    </div>
                    <div class="feature-btn ">
                        <a href="#" class="btn-global">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



