@{
    Layout = "~/views/visitorlayout/visitor_layout.cshtml";
}

<section class="swiper-module">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="swiper-module-wrapper">
                    <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="~/assest/dummy/dummy100X100.png" alt="Alternate Text" /></div>
                            <div class="swiper-slide"><img src="~/assest/dummy/dummy100X100.png" alt="Alternate Text" /></div>
                            <div class="swiper-slide"><img src="~/assest/dummy/dummy100X100.png" alt="Alternate Text" /></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>