@{
    Layout = "~/views/shared/visitorlogin_layout.cshtml";
}

<section class="brandsocialinsta">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="insta-wrapper">
                    <div class="col">
                        <div class="insta-main">
                            <div class="insta-image">
                                <img src="~/assest/dummy/dummy100X100.png" alt="Dummy" />
                            </div>
                            <div class="insta-wrapper-main d-flex justify-content-between">
                                <div class="insta-subsection d-flex">
                                    <div class="like">
                                        <span class="instalike fa-regular fa-heart"></span>
                                    </div>
                                    <div class="insta-comment">
                                        <span class="insta-save fa-regular fa-message"></span>
                                    </div>
                                    <div class="insta-share">
                                        <span class="insta-share fa-regular fa-share-from-square"></span>
                                    </div>
                                </div>

                                <div class="insta-save">
                                    <span class="insta-save fa-regular fa-bookmark"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>