@{
    Layout = "~/views/shared/visitorlogin_layout.cshtml";
}


<section class="fullwidth-signpost-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="fullwidth-bg">
                    <div class="row">
                        <div class="col-6">
                            <div class="fullwidth-content-wrapper">
                                <div class="heading">
                                    <span class="heading-devider"></span>
                                </div>
                                <div class="fullwidth-title">
                                    <h2 class="secondary-heading">
                                        Meta Ads World User Account History
                                    </h2>
                                </div>
                                <div class="fullwidth-des">
                                    <p class="webpage-para">
                                        Our digital marketing strategists will put together an actionable plan to strengthen your presence among customers.
                                    </p>
                                </div>

                                <div class="fullwidth-btn-wrapper d-flex">

                                    <div class="fullwidth-secondary">
                                        <a href="#" class="btn-global">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="fullwidth-image-bg">
                                <div class="fullwidth-image">
                                    <img src="/assest/simple-banner/history.png" alt="featureimage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-content feature-content-keyfacts pt-0">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="feature-content-image-wrapper">

                    <div class="feature-image">
                        <img src="/assest/homepage/ticktok-featurecontent.jpg" alt="feature-main">
                    </div>
                    <div class="feature-image-secondary">
                        <img src="/assest/homepage/linkdien-feturecontent.jpg" alt="feature-secondary">
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="feature-content-wrapper">
                    <div class="feature-content-des">
                        <span class="heading-devider"></span>
                    </div>
                    <div class="feature-content-title">
                        <h2 class="secondary-heading">
                            Transform your social media presence with our cutting-edge marketing solutions
                        </h2>
                    </div>
                    <div class="feature-content-para">
                        <p class="webpage-para">
                            We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                        </p>
                        <p class="webpage-para">
                            We are experts at creating, managing and promoting high performance websites. Search Engine Optimization, Content Marketing and Social Media Marketing are the cornerstones of what we do each and every day.
                        </p>
                    </div>
                    <div class="feature-contentkeyfact">
                        <div class="feaure-keyfirst d-flex">
                            <div class="feature-keyfact-wrapper">
                                <div class="keyfact-title counter d-flex">
                                    <h4 data-target="200" class="count">200</h4><sup>+</sup>
                                </div>
                                <div class="keyfact-para">
                                    <p class="webpage-para">
                                        happy client
                                    </p>
                                </div>
                            </div>

                            <div class="feature-keyfact-wrapper">
                                <div class="keyfact-title counter d-flex">
                                    <h4 data-target="500" class="count">500</h4><sup>+</sup>
                                </div>
                                <div class="keyfact-para">
                                    <p class="webpage-para">
                                        years of experience
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>  
