@model Meta_Ads_World.Models.UserModelList

@{
    Layout = "~/views/visitorlayout/visitor_layout.cshtml";
}


<section class="webregister">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="webregister-wrapper">
                    <div class="row">
                        <div class="col-3">
                            <div class="register-des">
                                <div class="register-image">
                                    <img src="~/assest/registration/social-hello-remvoe-bg.gif" alt="Alternate Text" />
                                </div>

                                <div class="register-title">
                                    <h3 class="secondary-heading">Welcome</h3>
                                </div>
                                <div class="register-para">
                                    <p class="webpage-para">
                                        You are 30 seconds away from earining your own money
                                    </p>
                                </div>

                                <div class="register-login">
                                    <a class="btn-global" asp-action="login" asp-controller="visitor">Login</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-8 offset-1">
                            <div class="registration-wrapper">
                                <div class="register-title">
                                    <h3>User Registraion</h3>
                                </div>
                                <form asp-action="userregistrationadd" asp-controller="visitor">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>First Name</label>
                                                    </div>
                                                    <input type="text" asp-for="ufname" />
                                                </div>
                                            </div>

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Last Name</label>
                                                    </div>
                                                    <input type="text" asp-for="ulname" />
                                                </div>
                                            </div>


                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>User Email</label>
                                                    </div>
                                                    <input type="email" asp-for="uemail" />
                                                    <span asp-validation-for="uemail" style="color:red"></span>

                                                </div>
                                            </div>


                                           

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Password</label>
                                                    </div>
                                                    <input type="password" asp-for="upassword" />
                                                </div>
                                            </div>

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Confirm Password</label>
                                                    </div>
                                                    <input type="password" asp-for="uconfirmpassword"/>
                                                    <span class="text-danger" asp-validation-for="uconfirmpassword"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6">

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Select County --</label>
                                                    </div>
                                                    <div class="location-div">
                                                        <select class="brandcountry" aria-label="Select Country" asp-for="ucountry">
                                                            <option value="" disabled selected>Select Country</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Select State --</label>
                                                    </div>
                                                    <div class="location-div">
                                                        <select class="brandstate" aria-label="Select State" asp-for="ustate">
                                                            <option value="" disabled selected>Select State</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Select City --</label>
                                                    </div>
                                                    <div class="location-div">
                                                        <select class="brandcity" aria-label="Select City" asp-for="ucity">
                                                            <option value="" disabled selected>Select City</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-11">
                                                <div class="reg-des">

                                                    <input type="hidden" asp-for="urefreallid" />
                                                </div>
                                            </div>

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="hidden" role="switch" id="flexSwitchCheckChecked" checked asp-for="status">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <button class="btn-global" type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

