@model Meta_Ads_World.Models.UserModelList

@{
    Layout = "~/views/visitorlayout/visitor_layout.cshtml";
}


<section class="webregister">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="webregister-wrapper">
                    <div class="row">
                        <div class="col-3">
                            <div class="register-des">
                                <div class="register-image">
                                    <img src="~/assest/registration/social-hello-remvoe-bg.gif" alt="Alternate Text" />
                                </div>

                                <div class="register-title">
                                    <h3 class="secondary-heading">Welcome</h3>
                                </div>
                                <div class="register-para">
                                    <p class="webpage-para">
                                        You are 30 seconds away from earining your own money
                                    </p>
                                </div>

                                <div class="register-login">
                                    <a class="btn-global" asp-action="login" asp-controller="visitor">Login</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-8 offset-1">
                            <div class="registration-wrapper">
                                <div class="register-title">
                                    <h3>User Registraion</h3>
                                </div>
                                <form asp-action="userregistrationadd" asp-controller="visitor">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>First Name</label>
                                                    </div>
                                                    <input type="text" asp-for="ufname" />
                                                </div>
                                            </div>


                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>User Email</label>
                                                    </div>
                                                    <input type="email" asp-for="uemail" />
                                                    <span asp-validation-for="uemail" style="color:red"></span>

                                                </div>
                                            </div>

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Contact No</label>
                                                    </div>
                                                    <input type="number" asp-for="contactno" />
                                                </div>
                                            </div>

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Password</label>
                                                    </div>
                                                    <input type="password" asp-for="upassword" />
                                                </div>
                                            </div>

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Confirm Password</label>
                                                    </div>
                                                    <input type="password" asp-for="uconfirmpassword" />
                                                    <span class="text-danger" asp-validation-for="uconfirmpassword"></span>
                                                </div>
                                            </div>

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Area Select</label>
                                                    </div>
                                                    <input type="search" list="datalistOptions" oninput="findstatate(this.value)" class="form-control" placeholder="Please Enter Area" asp-for="areadcode" />
                                                    <datalist id="datalistOptions">
                                                    </datalist>
                                                </div>
                                            </div>


                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="hidden" role="switch" value="true" id="flexSwitchCheckChecked" checked asp-for="status">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-11">
                                                <div class="reg-des">

                                                    <input type="hidden" asp-for="urefreallid" />
                                                </div>
                                            </div>

                                            <div class="col-10">

                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <label>Profile Picture</label>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <input type="text" class="form-control" id="inputGroupFile02" asp-for="profilepicture">
                                                            </div>
                                                            <div class="col-6">
                                                                <label class="input-group-text" for="inputGroupFile02">Please Enter Profile Post Link</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="input-group mb-3">
                                                </div>


                                            </div>

                                            <div class="col-11">
                                                <div class="reg-des">
                                                    <div class="reg-title">
                                                        <button class="btn-global" type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



@section Scripts {
    <script>
        function findstatate(getstring) {


            let state = document.getElementById("areadcode").value;


            console.log(state);
            $.ajax({
                type: "Get",
                url: "@Url.Action("statename", "Visitor")",
                data: {
                    statestring: getstring,
                },
                success: function (data) {
                    let datafill;
                    let datastate = document.getElementById("datalistOptions");
                    console.log(data);
                    if (state.length >= 3) {
                        for (let i = 0; i < data.length; i++) {
                            console.log(data[i].areaname);
                            datafill += `<option>${data[i].areaname}</option>`;
                            
                        }
                        datastate.innerHTML = datafill;
                    }


                    // for (let i = 0; i < data.length; i++) {
                    //     console.log(data[i].statename);

                    //     // state.value = data[i].statename;

                    //     datafill += '<option>${data[i].statename}</option>';

                    // }
                    // datastate.innerHTML = datafill;

                },
                error: function (data) {
                    console.logt("Error", data);
                }

            });
        }
    </script>
}

