@model Meta_Ads_World.Models.YoutTubePostModelList
@{
    Layout = "~/views/shared/visitorlogin_layout.cshtml";
}



<section class="brandsocialinsta">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="insta-wrapper">
                    <div class="row">
                        @foreach (var iteam in Model.YouTubeList)
                        {
                            <div class="col-4">
                                <div class="insta-main-section">
                                    <div class="instawrapper">
                                        <div class="insta-title d-flex">
                                            <div class="insta-profile">
                                                <p class="fa-solid fa-user"></p>
                                            </div>

                                            <div class="user-title">
                                                <p>User_Name</p>
                                            </div>
                                        </div>
                                        <div class="insta-main">
                                            <div class="insta-image insta-commentposition">
                                                <div class="insta-image">

                                                    <a href="https://www.youtube.com/watch?v=@iteam.youtubeposturl" target="_blank">
                                                        <img src="https://www.youtube.com/embed/@iteam.youtubeposturl" />
                                                    </a>
                                                </div>
                                                <div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <textarea id="instacommenttext"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="insta-wrapper-main d-flex justify-content-between">
                                                <div class="insta-subsection d-flex">
                                                    <div class="instasocial like">
                                                        <button type="submit" class="instalike fa-regular fa-heart" onclick="likeclick(this,@iteam.youtubepostid,@iteam.youtubeposttotallike)"></button>
                                                    </div>
                                                    <div class="instasocial insta-comment">
                                                        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="insta-save fa-regular fa-message" onclick="instacommentfun(this,@iteam.youtubepostid)"></button>
                                                    </div>
                                                    <div class="instasocial insta-share">
                                                        <span class="insta-share fa-regular fa-share-from-square"></span>
                                                    </div>
                                                </div>

                                                <div class="insta-save">
                                                    <span class="insta-save fa-regular fa-bookmark"></span>
                                                </div>
                                            </div>
                                            <div class="instaliketext">
                                                <p id="instalike">@iteam.youtubeposttotallike Like</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        function likeclick(data, getid, getlike) {
            console.log(data.classList.toggle("likeactive"));
            $.ajax({
                type: "Post",
                url: "@Url.Action("youtubelike", "Visitor")",
                data: {
                    id: getid,
                    like: getlike,
                },
                success: function (data) {
                    document.getElementById("instalike").innerHTML = data.youtubeposttotallike + " Like";
                },
                error: function (data) {
                    console.log("Error", data);

                }
            });
        }
    </script>

    <script>
        function instacommentfun(data, id) {
            $.ajax({
                type: "Post",
                url: "@Url.Action("youtubecomment", "visitor")",
                data: {
                    getid: id,
                },
                success: function (data) {
                    console.log(data[0].instapostcomment);
                    document.getElementById("instacommenttext").innerHTML = data[0].youtubepostcomment;
                },
                error: function (data) {
                    console.log("error", data);
                }
            });
        }
    </script>
}