<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Meta_Ads_World</title>
    <link rel="icon" type="image/x-icon" href="https://demos.pixinvent.com/vuexy-html-admin-template/assets/img/favicon/favicon.ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/import.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Meta_Ads_World.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    @await RenderSectionAsync("Style", required: false)

</head>
<body>

    <header class="visitor-navigation">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="nav-logo">
                        <a asp-action="index" controller="Home">
                            <img src="~/assest/logo/meta-ads-logo-remove.png" alt="logo" />
                        </a>
                    </div>
                </div>
                <div class="col-10">
                    <div class="navlink">
                        <ul class="d-flex justify-content-end align-items-center">
                            <li>                                
                                <a class="navbtn" asp-action="userregistrationadd" asp-controller="visitor"><i class="fa-solid fa-user-plus"></i>Sign Up</a>
                            </li>
                            <li>                                
                                <a class=" navbtn" asp-action="login" asp-controller="Home"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </header>



    @RenderBody()

    <footer class="footer">
        <div class="footer-bg">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="footer-logo-des">
                            <div class="logo">
                                <img src="~/assest/logo/meta-ads-logo-remove.png" alt="meta-ads-world-logo" />
                            </div>
                            <div class="footer-des">
                                <p class="webpage-para">
                                    Seofy have much planned for the future, working with great clients and continued software development. If you'd like to join our team, then we'd also love to hear from you.
                                </p>
                            </div>
                            <div class="footer-social-icons">
                                <ul class="d-flex">
                                    <li><i class="fa-brands fa-twitter"></i></li>
                                    <li><i class="fa-brands fa-facebook"></i></li>
                                    <li><i class="fa-brands fa-instagram"></i></li>
                                    <li><i class="fa-brands fa-linkedin"></i></li>
                                    <li><i class="fa-brands fa-pinterest"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="footer-link">
                            <div class="footer-title">
                                <h6>
                                    Services
                                </h6>
                            </div>
                        </div>

                        <div class="footer-link-wrapper">
                            <ul>
                                <li>
                                    <a href="#">
                                        Search Engine Marketing
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Search Engine Optimisation
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Pay Per Click
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Social Media
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Technical SEO Audit
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Content Marketing
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="footer-link">
                            <div class="footer-title">
                                <h6>
                                    Contacts
                                </h6>
                            </div>
                        </div>

                        <div class="footer-link-wrapper">
                            <ul>
                                <li>
                                    <p>Adress: 27 Division St, New York, NY 10002, United States of America</p>
                                </li>
                                <li>
                                    <a href="#">
                                        Website: seofy.com
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:seofy.com">
                                        Email: seofy@mail.com
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:+8 (123) 985 789">
                                        Phone: +8 (123) 985 789
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:seofy@mail.com">
                                        Fax: +8 (123) 985 788
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/component-js/logintoggle.js"></script>
    <script src="~/component-js/customtab.js"></script>
    <script src="~/component-js/webregister.js"></script>
    <script src="~/component-js/counter.js"></script>
    <script src="~/component-js/brandlocation.js"></script>
    <script src="~/component-js/location.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/component-js/customswiper.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
