.default-bg-btn {
    background: var(--maroon-flush);
    color: var(--white);
    font-weight: 500;
    transition: ease-in-out 0.5s;
    padding: 1rem 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
}

.default-bg-btn:hover{
    background:none;    
    color:var(--white);
    border:1px solid var(--maroon-flush);
}


.btn-global {
    background: var(--maroon-flush);
    color: var(--white);
    font-weight: 500;
    transition: ease-in-out 0.5s;
    padding: 1rem 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
    display:inline-block;
}

.btn-global:hover{
    
    color:var(--white);
}

.primary-btn-bg-n {
    background: none;
    color: var(--white);
    font-weight: 500;
    transition: ease-in-out 0.5s;
    padding: 1rem 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
}

.primary-btn-bg-n:hover{
    background:var(--white);
    color:black;
    
}

.heading-devider {
    width: 4rem;
    height: 0.3rem;
    background: var(--maroon-flush);
    display: inline-block;
    border-radius: 5rem;
    position:relative;
}

.heading-devider::after{
    content: "";
    position: absolute;
    left: 5rem;
    height: 0.3rem;
    width: 1rem;
    background: var(--maroon-flush);
}
