.icon-scroller{
    padding:6rem 0;
}

.swiper-scroller .swiper-wrapper .icon-scroller-slide{
    height:10rem;
}

.swiper-scroller .swiper-wrapper .icon-scroller-slide .icon-wrapper .icon-image{
    padding:1rem 1rem;
}

.swiper-scroller .swiper-wrapper .icon-scroller-slide .icon-wrapper .icon-image img{
    object-fit:contain;
    width:100%;
    max-width:14rem;
    filter: grayscale(100%);
    cursor:pointer;
    transition:all ease-in-out 0.5s;
}

.swiper-scroller .swiper-wrapper .icon-scroller-slide .icon-wrapper .icon-image img:hover{
    filter:none;
}