.webregister {
    padding: 4rem 2rem;
   background:url('../assest/footer/footer-bg.jpg');
}

.webregister  .webregister-wrapper .register-des{
    text-align:center;
    padding: 4rem 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}


.webregister  .webregister-wrapper .register-des .register-image{
   width:18rem;
}

.webregister  .webregister-wrapper .register-des .register-title h3{
    color:var(--white);
    font-size:2rem;
}

.webregister  .webregister-wrapper .register-des .register-para p{
    color:var(--white);
    font-size:1.3rem;
    opacity:0.8;
}

.webregister  .webregister-wrapper .register-des .register-login{
    padding:2rem 0 0 0;
}

.webregister .registration-wrapper{
    padding:4rem 2rem;
    background:var(--concrete);
    margin:6rem 0  0 0;
    border-radius:1rem;
}

.webregister .registration-wrapper .register-title h3{
    font-size:2.4rem;
    color:var(--maroon-flush);
}

.webregister .registration-wrapper .reg-des .reg-title {
    padding: 0.5rem 0 0 0;
}

.webregister .registration-wrapper .reg-des .reg-title label{
    font-weight:500;
    color:var(--maroon-flush);
    font-size:1.4rem;
    border:0;
    padding:0.8rem 0;
}

.webregister .registration-wrapper .reg-des{
    padding:1rem 0 0 0;
}

.webregister .registration-wrapper .reg-des input{
    width:100%;
    border:0;
    padding:1rem 0;
}

.webregister .registration-wrapper .reg-des  .location-div select{
    width:100%;
    padding:1rem 0;
}


.webregister .registration-wrapper .reg-des  select {
    width: 100%;
    padding: 1rem 0;
}


