
.primary-heading {
    color: #252525;
    font-size:4.2rem;    
}

.secondary-heading {
    color: #252525;
    font-size: 3.8rem;
}

.heading-title {
    color: #252525;
    font-size: 3.3rem;
}

.webpage-para{
    font-size:1.8rem;
}