
.primary-heading {
    color: #252525;
    font-size: 4.2rem;
    font-weight: bold;
    color: var(--white);
    line-height: 5rem;
}

.secondary-heading {
    color: #252525;
    font-size: 3.8rem;
}

.heading-title {
    color: #252525;
    font-size:1.8rem;
    font-weight:700;
}

.heading-subheading {
    color: #003049;
    font-size: 2rem;
}

.webpage-para{
    font-size:1.8rem;
    font-weight:300;
}