@model Meta_Ads_World.Models.InstaPostModelList


@{
    Layout = "~/Views/Shared/_brand_layout.cshtml";

}

<section class="brand-main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-title">
                    <h1 class="heading-subheading">Instagram Post</h1>
                </div>
                <div class="brand-wrapper">
                    <div class="row">

                        <div class="col-6">
                            <form asp-action="brandinstapostadd">
                                <div class="brand-title-wrapper">
                                    <div class="brand-title-label">
                                        <p>Brand Post Upload</p>
                                    </div>

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="instaurluploaddata" onchange="datatransfer()">
                                        <label class="input-group-text">Please Enter Instagram Post Link</label>
                                        <input type="text" asp-for="instaposturl" class="d-none" />
                                    </div>
                                </div>

                                <div class="brand-title-wrapper">
                                    <div class="brand-title-label">
                                        <p>Do you want Increase the Instagram Like?</p>

                                        <span>Instagram Per Post Like Budget :</span> <span id="instalike"> @Model.instalikebudget</span><span> Rs.</span>



                                    </div>
                                    <div class="brand-input form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" asp-for="instapostlikestatus" checked>
                                    </div>
                                </div>

                                <div class="brand-title-wrapper">
                                    <div class="brand-title-label">
                                        <p>Do You want Increase the Instagram Comment?</p>

                                        <span>Instagram Per Post Comment Budget :</span> <span id="instacomment">@Model.instacommentbudget </span><span>Rs.</span>


                                    </div>
                                    <div class="brand-input form-check form-switch">


                                        <input class="form-check-input" type="checkbox" role="switch" asp-for="instapostcommentstatus" onchange="commentfun(this,@Model.instacommentbudget)">

                                    </div>
                                </div>


                                <div class="brand-title-wrapper">
                                    <div class="brand-title-label">
                                        <p>Do you want Increase Instagram Share?</p>

                                        <span>Instagram Per Post Share Budget :</span> <span id="instashare">@Model.instasharebudget </span><span>Rs.</span>


                                    </div>
                                    <div class="brand-input form-check form-switch">

                                        <input onchange="commentfun(this,@Model.instasharebudget)" class="form-check-input" type="checkbox" role="switch" asp-for="instagrampostsharestatus">

                                    </div>
                                </div>

                                <div class="brand-title-wrapper">
                                    <div class="brand-title-label">
                                        <p>Do you want increase The Instagram save?</p>

                                        <span>Instagram Per Post Save Budget :</span> <span id="instasave">@Model.instasavebudget </span><span>Rs.</span>

                                    </div>
                                    <div class="brand-input form-check form-switch">

                                        <input onchange="commentfun(this,@Model.instasavebudget)" class="form-check-input" type="checkbox" role="switch" asp-for="instapostsavestatus">

                                    </div>
                                </div>


                                <div class="brand-title-wrapper">
                                    <span>Per Post Budget :</span> <span id="total"></span> <span>Rs.</span>

                                    <div class="brand-title-label">
                                        <p>How Many Like, Comment,Share And Save You Want?</p>
                                    </div>
                                    <div>
                                        <input type="text" asp-for="posttotalbudget" onchange="totbudget()">
                                        <span asp-validation-for="posttotalbudget" style="color:red"></span>

                                        <div class="py-2">
                                            <span>Your Budget:</span>  <span id="showbudget" style="color:blue"> </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="brand-title-wrapper">
                                    <input class="form-check-input" value="0" type="hidden" role="switch" asp-for="instaposttotallike">
                                    <input class="form-check-input" value="bydefaultcomment" type="hidden" role="switch" asp-for="instapostcomment">
                                    <input class="form-check-input" value="0" type="hidden" role="switch" asp-for="instapostsave">
                                    <input class="form-check-input" value="0" type="hidden" role="switch" asp-for="instapostshare">
                                    <input class="form-check-input" value="0" type="hidden" role="switch" asp-for="counter">

                                    <input class="form-check-input" type="hidden" asp-for="instapoststatus" value="false">
                                </div>

                                <div class="brand-btn">
                                    <button class="brand-insta-tbn" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>


                        <div class="col-6">
                            <div class="brand-animation">
                                <div action="image-main">
                                    <img src="~/assest/feature-image/insta-feature-image.png" alt="instagram feature image" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</section>







@section Scripts {
    <script>
        function datatransfer(){
            const dataurl = document.getElementById("instaurluploaddata").value;
            const url = dataurl;

             // Split the URL to extract the code
          const parts = url.split("/"); // Split by "/"
          const extractedCode = parts[4]; // The 5th part is the unique code
          const resultDiv = document.getElementById("instaposturl");
          resultDiv.value = extractedCode;

        }
    </script>
    <script>
        let like = parseInt(document.getElementById("instalike").innerText);
        let likecheck = document.getElementById("instapostlikestatus");
        let totalbudget = document.getElementById("total");

        if (likecheck.checked == true) {
            totalbudget.innerText = like;
        }

    </script>


    <script>

        let liketotal = parseInt(document.getElementById("instalike").innerText);


        function commentfun(data,valdata) {

            if (data.checked) {
                liketotal = liketotal + valdata;
            }else{
                liketotal = liketotal - valdata;
            }
            totalbudget.innerText = liketotal;

            totbudget();

        }


        function totbudget()
        {
            // let data = commentfun();
            // console.log(data);
            let qun = parseInt(document.getElementById("posttotalbudget").value);

            let totaltemp = qun * liketotal;
            showbudget.innerText = totaltemp + " Rs";
        }


    </script>


}