@model Meta_Ads_World.Models.YoutTubePostModelList


@{
    Layout = "~/Views/Shared/_brand_layout.cshtml";

}


<section class="brand-main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-title">
                    <h1 class="heading-subheading">Youtube Post</h1>
                </div>
                <div class="brand-wrapper">
                    <div class="row">

                        <div class="col-6">
                            <form asp-action="brandyoutubepostadd">

                                <div class="brand-title-wrapper">
                                    <div class="brand-title-label">
                                        <p>Brand Youtube Post Upload</p>
                                    </div>

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="inputGroupFile02" asp-for="youtubeposturl">
                                        <label class="input-group-text" for="inputGroupFile02">Please Enter Youtube Id </label>
                                    </div>
                                </div>

                                <div class="brand-title-wrapper">
                                    <div class="brand-title-label">
                                        <p>Do you want Increase the YouTube Like?</p>

                                        <span>Youtube Per Post Like Budget :</span> <span id="instalike"> @Model.youtubelikebudget</span><span> Rs.</span>



                                    </div>
                                    <div class="brand-input form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" asp-for="youtubepostlikestatus" checked>
                                    </div>
                                </div>

                                <div class="brand-title-wrapper">
                                    <div class="brand-title-label">
                                        <p>Do You want Increase the YouTube Comment?</p>

                                        <span>YouTube Per Post Comment Budget :</span> <span id="instacomment">@Model.youtubecommentbudget </span><span>Rs.</span>


                                    </div>
                                    <div class="brand-input form-check form-switch">


                                        <input class="form-check-input" type="checkbox" role="switch" asp-for="youtubepostcommentstatus" onchange="commentfun(this,@Model.youtubecommentbudget)">

                                    </div>
                                </div>


                                <div class="brand-title-wrapper">
                                    <div class="brand-title-label">
                                        <p>Do you want Increase YouTube Share?</p>

                                        <span>YouTube Per Post Share Budget :</span> <span id="instashare">@Model.youtubesharebudget </span><span>Rs.</span>


                                    </div>
                                    <div class="brand-input form-check form-switch">

                                        <input onchange="commentfun(this,@Model.youtubesharebudget)" class="form-check-input" type="checkbox" role="switch" asp-for="youtubepostsharestatus">

                                    </div>
                                </div>

                                <div class="brand-title-wrapper">
                                    <div class="brand-title-label">
                                        <p>Do you want increase The Instagram save?</p>

                                        <span>YouTube Per Post Save Budget :</span> <span id="instasave">@Model.youtubesavebudget </span><span>Rs.</span>

                                    </div>
                                    <div class="brand-input form-check form-switch">

                                        <input onchange="commentfun(this,@Model.youtubesavebudget)" class="form-check-input" type="checkbox" role="switch" asp-for="youtubepostsavestatus">

                                    </div>
                                </div>


                                <div class="brand-title-wrapper">
                                    <span>Total Budget :</span> <span id="total"></span> <span>Rs.</span>

                                    <div class="brand-title-label">
                                        <p>Please Enter The Value For Users?</p>
                                    </div>
                                    <div>
                                        <input type="text" asp-for="youtubeposttotalbudget" onchange="totbudget()">
                                        <span asp-validation-for="youtubeposttotalbudget" style="color:blue"></span>

                                        <div class="py-2">
                                            <span id="showbudget" style="color:blue">Your Budget: </span>
                                        </div>

                                    </div>
                                </div>


                                <div class="brand-title-wrapper">
                                    <input class="form-check-input" value="0" type="hidden" role="switch" asp-for="youtubeposttotallike">
                                    <input class="form-check-input" value="bydefaultcomment" type="hidden" role="switch" asp-for="youtubepostcomment">

                                </div>

                                <div class="brand-btn">
                                    <button class="brand-insta-tbn" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>


                        <div class="col-6">
                            <div class="brand-animation">
                                <div action="image-main">
                                    <img src="~/assest/feature-image/insta-feature-image.png" alt="instagram feature image" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</section>


@section Scripts {
        <script>
            let like = parseInt(document.getElementById("instalike").innerText);              
            let likecheck = document.getElementById("youtubepostlikestatus");       
            let totalbudget = document.getElementById("total");
            let showbudget = document.getElementById("showbudget");

            if (likecheck.checked == true) {
                totalbudget.innerText = like;
            }

        </script>


        <script>
            let liketotal = parseInt(document.getElementById("instalike").innerText);


            function commentfun(data, valdata) {

                if (data.checked) {
                    liketotal = liketotal + valdata;
                } else {
                    liketotal = liketotal - valdata;
                }
                totalbudget.innerText = liketotal;
            }


            function totbudget() {
                let qun = parseInt(document.getElementById("youtubeposttotalbudget").value);

                let totaltemp = qun * liketotal;
                showbudget.innerText += totaltemp + " Rs";

            }
            // function sharefun() {
            //     let totallikecommentshare = like + comment + share;
            //     let likescommentshare = like + share;

            //     if (likecheck.checked == true && commentcheck.checked == true && sharecheck.checked == true) {
            //         totalbudget.innerText = totallikecommentshare;

            //     }

            //     else if (likecheck.checked == true && commentcheck.checked == true && sharecheck.checked == false) {
            //         totalbudget.innerText = totallikecommentshare - share;

            //     }

            //     else if (likecheck.checked == true && commentcheck.checked == false && sharecheck.checked == true) {
            //         totalbudget.innerText = totallikecomemntshare - comment;
            //     }

            // }

            // function savefun() {
            //     let totallikecommentsharesave = like + comment + share + save;
            //     if (likecheck.checked == true && commentcheck.checked == true && sharecheck.checked == true && savecheck.checked == true) {
            //         totalbudget.innerText = totallikecommentsharesave;
            //     }

            //     else if (likecheck.checked == true && commentcheck.checked == false && sharecheck.checked == true && savecheck.checked == true) {
            //         totalbudget.innerText = totallikecommentsharesave - comment;
            //     }
            // }


        </script>

    @*
    <script>
        function budgetlikefind() {
            let likebudget = document.getElementById("instapostlikestatus");
            let commentbudget = document.getElementById("instapostcommentstatus");

            let totalbudget = document.getElementById("posttotalbudget").value;
            let like = parseInt(document.getElementById("instalike").innerText);
            let comment = parseInt(document.getElementById("instacomment").innerText);
            let share = parseInt(document.getElementById("instashare").innerText);
            let save = parseInt(document.getElementById("instasave").innerText);
            let totallike = totalbudget / like;
            let totalcomment = totalbudget / comment;
            let totalshare = totalbudget / share;
            let totalsave = totalbudget / save;

            if (likebudget.checked && commentbudget.checked == true) {
                console.log(totallike, "Like");
            }
            console.log(like);
        }
    </script> *@

    @*     <script>
        function likebudget() {

            let likedata = parseInt( document.getElementById("instalikedata").value);
            let likebudget = parseInt( document.getElementById("instalike").innerText);
            let total = likedata / likebudget;
            console.log(likedata);
            console.log(likebudget);
            console.log(total,"Total Like Budget");

            document.getElementById("likebudgettotal").innerText = total + " Like";

        }
    </script> *@

        <script>
            //     function commentbudget() {
            //         let commentdata = parseInt(document.getElementById("instacommentdata").value);
            //         let commentbudget = parseInt(document.getElementById("instacomment").innerText);
            //         let total = commentdata / commentbudget;
            //         console.log(total, "Total Like Budget");

            //         document.getElementById("likecommenttotal").innerText = total + " Comment";
            //     }
            // </script>
}